[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "2.26.0"
platformdirs = "2.4.1"

[dev-packages]
nuitka = "0.6.18.1"

[requires]
python_version = "3.9"
